@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3089FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3383ee;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
}
.hidden {
  overflow: hidden;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.black-text {
  color: #0F121B;
  font-size: 1.0625rem;
  line-height: 28px;
}

.white-text {
  color: #FFF;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.51px;
}

.image-max {
  width: 100%;
  height: auto;
}

.trans {
  transition: 0.3s;
}

button {
  border: 0;
}

.btn-black-outline {
  height: 1.875rem;
  border: 1px solid #0F121B;
  background: transparent;
  padding: 0 20px;
  color: #0F121B;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.btn-black-outline:hover {
  background: #0F121B;
  color: #fff;
}
.btn-black-outline:hover i {
  color: #fff;
}
.btn-black-outline i {
  margin-left: 18px;
  color: #0F121B;
  transition: 0.3s;
}

.btn-white-outline {
  height: 1.875rem;
  border: 1px solid #fff;
  background: transparent;
  padding: 0 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.btn-white-outline:hover {
  background: #fff;
  color: #0F121B;
}
.btn-white-outline:hover i {
  color: #0F121B;
}
.btn-white-outline i {
  margin-left: 18px;
  color: #fff;
  transition: 0.3s;
}

.nav {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item {
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-right: 2.5rem;
  cursor: pointer;
  transition: 0.3s color;
}
.nav-menu-item:hover {
  color: #F4E1B8;
}
.nav-menu-item i {
  font-size: 8px;
  margin-left: 10px;
}
.nav-logo {
  font-size: 2.5rem;
  color: #fff;
}

.header {
  width: 100%;
  height: 1092px;
  background: #000 url("../images/header-bg.webp") no-repeat top center;
  background-size: cover;
  padding-top: 8.75rem;
}
.header-title {
  text-align: center;
  color: #FFF;
  text-shadow: 0 0.821px 0.821px rgba(17, 5, 5, 0.3);
  font-size: 4rem;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
.header-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 653px;
  animation: logo-anim 2.4s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.63, 0.22, 1.01);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  transform: scale(1) rotate(0);
  opacity: 1;
  position: relative;
}
.header-logo img {
  width: 100%;
}
.header-logo svg {
  position: absolute;
  right: -40px;
  bottom: 0;
  opacity: 0;
}
.header-logo svg path {
  fill: rgba(255, 255, 255, 0.8);
}
.header-logo svg.start-anim {
  opacity: 1;
  animation: anim-sale 1.1s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.63, 0.22, 1.01);
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  transform: rotate(0deg);
  transform-origin: left top;
  transition: 0.3s;
}
@keyframes anim-sale {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes logo-anim {
  0% {
    transform: scale(0) rotate(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.2) rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}
.header-subtitle {
  color: #FFF;
  text-shadow: 0 0.821px 0.821px rgba(17, 5, 5, 0.3);
  font-size: 3rem;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
}
.header-description {
  width: 100%;
  max-width: 441px;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.51px;
}
.header-buttons {
  width: 100%;
  max-width: 266px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 1.875rem auto 0;
}
.header-buttons button {
  width: 50%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
}

.cars {
  width: 100%;
  height: 1240px;
  position: relative;
  padding-top: 120px;
}
.cars:before {
  content: "";
  position: absolute;
  left: 0;
  top: -260px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0, #F4E1B8, #F4E1B8, rgba(244, 225, 184, 0.8901960784), transparent);
  z-index: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 1550px, 85% 1850px, -19% 1510px, 0% 81%);
}
.cars:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #fff);
  left: 0;
  bottom: 260px;
  z-index: 1;
}
.cars-bg {
  position: absolute;
  left: 0;
  top: -600px;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 1200px, 0 1200px);
}
@media (max-width: 1418px) {
  .cars-bg {
    top: -550px;
  }
}
.cars .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -280px;
  left: 100px;
  z-index: 1;
}
.cars-left-img {
  width: 148px;
  height: auto;
  position: relative;
  left: -80px;
}
.cars-left-title {
  color: #0F121B;
  text-shadow: 0 0.821px 0.821px rgba(17, 5, 5, 0.3);
  font-size: 1.4375rem;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: -20px;
}
.cars-left-title b {
  color: #fff;
}
.cars-left-description {
  font-weight: 400;
  width: 100%;
  max-width: 370px;
  margin-bottom: 1.3125rem;
}
.cars-right {
  transform: translateX(100px) translateY(30px);
}
.cars-right-img {
  width: 100%;
  max-width: 537px;
  height: auto;
  transform: translate(-290px, 50px);
}

.dubai-body {
  width: 100%;
  max-width: 370px;
  transform: translate(-100px, -70px);
}
.dubai-img {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-bottom: 12px;
}
.dubai h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.dubai .black-text {
  margin-bottom: 20px;
}

.gallery {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  top: -550px;
  display: flex;
  justify-content: end;
  align-items: start;
}
.gallery-title {
  font-size: 23px;
  line-height: 1.2;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.gallery-body {
  position: relative;
  right: -30px;
}
.gallery-body-par {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: calc(100% - 370px);
}
.gallery-body-item {
  width: 100%;
  min-width: 370px;
  height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  position: relative;
}
.gallery-body-item i {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fff;
}
.gallery-body-item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.dubai-land {
  width: 100%;
  height: auto;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(34%) translateX(-45%);
}

.extreme {
  width: 100%;
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.extreme .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1175px;
}
.extreme-img {
  min-width: 770px;
  height: 490px;
  padding: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 206px #F4E1B8;
}
.extreme-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.extreme-info-text {
  color: #0F121B;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}
.extreme-info button {
  margin-top: 30px;
}
.extreme-title {
  font-size: 23px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
